/practica3_2/target/
/arrayList/arraynet/target/
/arrayList/target/
/Practica6_1/nbproject/private/
/proyecto66/target/
/Practica666/nbproject/private/
/Practica666/build/
/netBeans/Practica7/nbproject/private/
/netBeans/Practica7/build/
